@charset "UTF-8";


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82)
    }

    #ilogin {
        background-image: url(../imagens/pexels.jpeg);
        background-size: contain;
        background-repeat: no-repeat;
        padding: 20px 20px;
        width: 50vw;
        max-height: 290px;
        min-width: 430px;
        padding-left: 200px;
    }

    #ilogin p {
        width: 35vw;
    }

    #itab {
        display: block;
        margin: auto;
        padding-left: 135px;
    }

    #cadeado {
        display: none;
    }

    section input {
        width: 30vw;

    }

    section p {
        margin: 5px 0;
        border-radius: 8px;
        width: 35vw;
    }

    #avatar {
        display: none;
    }

    #isenha {
        width: 35vw;
    }

    aside input {
        width: 35vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    body {
        background-color: blue;
        margin: 0%;

    }

    #ilogin {
        background-image: url(../imagens/pexels.jpeg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        width: 500px;
        height: 400px;
        padding-right: 420px;
        padding-left: 20px;
    }
    h1{
        text-align: left;
        padding-left: 257px;
    }

    #ilogin p {
        width: 600px;
    }

    #itab {
        display: block;
        padding:0px;
    }

    #cadeado {
        display: none;
    }

    section input {
        width: 550px;

    }

    section p {
        margin: 5px 0;
        border-radius: 8px;
    }

    #avatar {
        display: none;
    }

    #isenha {
        width: 600px;
    }

    aside input {
        width: 600px;
    }
}
